*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}


.heading{
  text-align: center;
  box-shadow: 2px 2px 2px 0px #ccc;
  padding: 0.5rem 0;
  background-color: #111;
  color: whitesmoke;
}


.form-container{
  width: 100%;
  height: calc(100vh - 3.8rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  /* border: 1px solid #000; */
  box-shadow: 2px 2px 5px 0px #717171;
  padding: 1.2rem 1.6rem;
  display: grid;
  gap: 0.8rem;
  border-radius: 4px;
}
form h1{
  font-size: 2rem;
  text-align: center;
}

.input-field{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}


.input-field label{
  font-size: 1.4rem;
  font-weight: 600;
}

.input-field input{
  width: 100%;
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  border: 1.5px solid rgb(183, 230, 248);
  border-radius: 4px;
}

.input-field-radio{
  display: flex;
  align-items: center;  
  gap: 1.2rem ;
  justify-content: start;
}

.input-field-radio label{
  font-size: 1rem;
}

.btn{
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 0.6rem 0;
  border-radius: 4px;
  background-color: rgb(255, 189, 6);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 2px 2px 2px 0px #ccc;
  transition: all 0.2s ease-in;
  margin: 1.6rem 0 0 ;
}

.btn:hover{
  background-color: rgb(255, 147, 6);

}
.navigate{
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  font-size: 0.8rem;
}

.error{
  color: crimson;
  font-size: small;
  font-weight: 500;
}

.error::after{
  content: "*";
}

/* dashboard */
.dashboard{
  display: flex;
  width: 100vw;
  height: calc(100vh - 3.8rem);
}

.vertical-navbar{
  background-color: #111;
  height: 100%;
  padding: 1rem 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 2px 2px 2px 0px #ccc;
}

.vertical-navbar div{
  background-color: bisque;
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  outline: 2px solid #fff;
  border: 2px solid #000000;
}

.vertical-navbar div:hover{
  /* background-color: bisque; */
}

.profile-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/*profile*/
.container{
  display: flex;
  align-items: center;
  gap: 1.6rem;
  box-shadow: 2px 2px 2px 1px #ccc;
  border-radius: 10px;
  padding: 2rem 1.6rem;
  position: relative;
  
}

.edit{
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.1rem;
  transition: all 0.3s ease-in-out;
}

.edit:hover{
  border:1px solid #ccc;
  box-shadow: 1px 1px 1px 0px #000;
  
}

.container > div:nth-child(2){
  display: grid;
  gap: 0.3rem;
}


.profile-image img{
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  border: 2px solid rgb(255, 255, 255);
  outline: 2px solid rgb(0, 0, 0);

}

.profile-info{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.profile-info label{
  font-weight: 700;
  font-size: larger;
}

.profile-info p{
  color: rgb(0, 0, 179);
  font-size: larger;
  font-weight: 700;
}